<%= "Editing #{@article.title}" %>
<%= render "form" %>
<p><%= link_to 'Удалить статью', article_path(@article),
            method: :delete,
            data: { confirm: 'Вы подтверждаете удаление статьи?' } %>
</p>
<p><%= link_to 'К полному списку', articles_path %></p>